<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="phpunit.php"
         backupGlobals="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
	>
	<testsuites>
		<testsuite name="AVH Framework Test Suite">
			<directory>./tests/</directory>
		</testsuite>
	</testsuites>
	<filter>
        <whitelist addUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./libs</directory>
            <file>bootstrap.php</file>
            <file>avh-framework.php</file>
        </whitelist>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
